<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mealznow.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e4153478-bb47-46fa-b555-58357ee3cbd6/resourceGroups/foodsnowrc/providers/Microsoft.Web/sites/mealznow</ResourceId>
    <UserName>$mealznow</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://mealznow.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>